@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Abastecer Carro</h1>
    <div class="row">
        <div class="row-fluid">
            <label class="control-label" for="NomeMotorista">Nome Motorista</label>
            <div class="controls">
                <input type="text" id="NomeMotorista" name="NomeMotorista" placeholder="Digite Seu Nome" style="max-width:400px; width:400px">
            </div>
        </div>
        <div class="row-fluid">
            <label class="control-label" for="CombustivelLitro">Quantos Litros Deseja Abastecer</label>
            <div class="controls">
                <input type="text" id="CombustivelLitro" name="CombustivelLitro" placeholder="Digite a quantidade em Litros" style="max-width:400px; width:400px">
            </div>
        </div>
        <div class="row-fluid">
            <label class="control-label" for="NomeMotorista">Nome Motorista</label>
            <div class="controls">
                <input type="text" id="NomeMotorista" name="NomeMotorista" placeholder="Digite Seu Nome" style="max-width:400px; width:400px">
            </div>
        </div>
        <div class="row-fluid">
            <label class="control-label" for="NomeMotorista">Nome Motorista</label>
            <div class="controls">
                <input type="text" id="NomeMotorista" name="NomeMotorista" placeholder="Digite Seu Nome" style="max-width:400px; width:400px">
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
}