@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Avaliação de Conhecimento</h1>
    <div class="row">
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
}