<!--@model Infortechms.Gerenciamento.AppMvc.ViewModels.ConsumoCombustivelViewModel
@{
    ViewData["Title"] = "Correr";
}
<div class="modal-header">-->
    @*<h4 class="modal-title">@ViewData["Title"]</h4>*@
    <!--<button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">x</span><span class="sr-only">Fechar</span>
    </button>
</div>
<br />
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal col-md-offset-1">
        @Html.HiddenFor(model => model.id)
        @Html.Partial("Correr")
        <div class="modal-footer">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Correr" class="btn btn-default" />-->
                @*<input type="submit" value="Correr" class="btn bg-danger btn-success" />*@
                <!--<input type="button" class="btn btn-info" value="Fechar" data-dismiss="modal" />
            </div>
        </div>
    </div>
}-->